# Directories to ignore
# tar

# Generic files to ignore
*.aux
*.bcf
*.bbl
*.blg
.*.lb
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.spl
*.synctex.gz
*.toc

*.bak

# Specific files to ignore
mydocument*
acknowledgements/*.pdf
journal/*.pdf
journal/atlas-revtexNotes.bib
doc/*/*.pdf
doc/mkdoc.py
doc/atlas_physics/mkphysics.py
