# Directories to ignore
tar

# Generic files to ignore
*.bak
*.aux
*.bcf
*.bbl
*.blg
.*.lb
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.spl
*.toc
*.lof
*.lot
*.synctex.gz

# Specific files to ignore
mydocument*
acknowledgements/*.pdf
journal/*.pdf
journal/atlas-revtexNotes.bib
doc/*/*.pdf
doc/mkdoc.py
doc/atlas_physics/mkphysics.py
